<label>Comandos para o controle de movimentos: </label><br><br>
<table style="width:100px;text-align:center;vertical-align:top;">
  <tr>
    <th colspan="2">
      <i class="arrow up" (click)="alterarValor('1')"></i>
    </th>
  </tr>
  <tr>
      <th style="width:50%;"><i class="arrow left" (click)="alterarValor('4')"></i></th>
      <th style="width:50%;"><i class="arrow right" (click)="alterarValor('3')"></i></th>
  </tr>
  <tr>
    <th colspan="2">
      <i class="arrow down" (click)="alterarValor('2')"></i>
    </th>
  </tr>
</table>
