<p>
  <label>Controle de dispositivos: </label><br><br>
  <label>Cômodo 1: </label><br>
  <label>Intensidade do ventilador: </label>
  <select id="Ventilador_Intensidade_1">
	  <option value="5">0</option>
	  <option value="6">1</option>
	  <option value="7">2</option>
	  <option value="8">3</option>
	  <option value="9">4</option>
	  <option value="10">5</option>
  </select>
  <button (click)="alterarValor('Ventilador_Intensidade_1')">Alterar</button><br>
  <label>Intensidade da luz: </label>
  <select id="Luz_Intensidade_1">
	  <option value="11">0</option>
	  <option value="12">1</option>
	  <option value="13">2</option>
	  <option value="14">3</option>
	  <option value="15">4</option>
	  <option value="16">5</option>
  </select>
  <button (click)="alterarValor('Luz_Intensidade_1')">Alterar</button>
  <br>
  <label>Umidificador: </label>
  <select id="Umidificador_Intensidade_1">
	  <option value="17">Desligar</option>
	  <option value="18">Ligar</option>
  </select>
  <button (click)="alterarValor('Umidificador_Intensidade_1')">Alterar</button><br><br>
  <label>Cômodo 2: </label><br>
  <label>Intensidade do ventilador: </label>
  <select id="Ventilador_Intensidade_2">
	  <option value="19">Desligar</option>
	  <option value="20">Ligar</option>
  </select>
  <button (click)="alterarValor('Ventilador_Intensidade_2')">Alterar</button><br>
  <label>Intensidade da luz: </label>
  <select id="Luz_Intensidade_2">
	  <option value="21">Desligar</option>
	  <option value="22">Ligar</option>
  </select>
  <button (click)="alterarValor('Luz_Intensidade_2')">Alterar</button>
  <br>
  <label>Umidificador: </label>
  <select id="Umidificador_Intensidade_2">
	  <option value="23">Desligar</option>
	  <option value="24">Ligar</option>
  </select>
  <button (click)="alterarValor('Umidificador_Intensidade_2')">Alterar</button><br>
</p>
