<p class = "one">
  <label>Variáveis de ambiente no cômodo atual: </label><br><br>
    <input (click)="showValues()" type="image" src="/src/images/refresh.png" class="refreshImage"/><br>
    <label>Temperatura: </label><label id="input_temperatura">0</label><label>ºC</label><br>
    <label>Luminosidade do ambiente: </label><label id="input_luminosidade">0</label><label>%</label><br>
    <label>Umidade relativa do ar: </label><label id="input_umidade">0</label><label>%</label><br>
</p>