<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align:center">
    AssistIoT – Assistente Doméstico com Tecnologias IoT
  </h1>
  <table style="width:100%;text-align:left;vertical-align:top;">
    <tr>
      <th><app-web-cam></app-web-cam></th>
      <th><app-movement-control></app-movement-control></th>
    </tr>
    <tr>
      <th><app-labels></app-labels></th>
      <th><app-devices-control></app-devices-control></th>
    </tr>
  </table>
</div>